* {
  padding: 0;
  margin: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Montserrat", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-left: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
header img {
  width: 150px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 200px;
}
header nav a {
  text-decoration: none;
  color: #FF6060;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-left: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 209px;
  align-self: flex-end;
  margin-top: auto;
  background-color: black;
}
footer img {
  width: 122px;
  height: 39.44px;
}
footer p {
  color: #FFFFFF;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  margin-top: 50px;
  margin-bottom: 31px;
  border-radius: 25px;
  overflow: hidden;
}
.banner img {
  position: relative;
  width: 100%;
  height: 100%;
  filter: brightness(0.7);
  object-fit: cover;
}
.banner p {
  position: absolute;
  font-size: 30px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
}

.layout {
  display: flex;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 25px;
}
.layout__padding {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 5%;
  row-gap: 35px;
  column-gap: 35px;
}
.layout__card {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
}
.layout__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0) 10%, #000000 500%);
  z-index: 2;
}
.layout__card img {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.layout__card p {
  z-index: 3;
  position: absolute;
  width: 10%;
  padding: 10px;
  color: #FFFFFF;
}

.carousel {
  display: flex;
  position: relative;
  width: 100%;
  height: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  overflow: hidden;
}
.carousel__pictures {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.carousel__arrow-Left {
  position: absolute;
  left: 20px;
  z-index: 3;
  align-self: center;
  cursor: pointer;
}
.carousel__arrow-Right {
  position: absolute;
  right: 20px;
  z-index: 3;
  align-self: center;
  cursor: pointer;
}

.container-title-profile-tags-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titreTags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.titreTags .titreTags__tags {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.titreTags__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.titreTags__info h1 {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
}
.titreTags__info p {
  color: #FF6060;
  font-weight: 500;
  font-size: 18px;
}
.titreTags li {
  margin-right: 10px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FF6060;
  border-radius: 25px;
  color: #FFFFFF;
}

.profileRating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.profileRating__rating img {
  margin-right: 10px;
}
.profileRating__profile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.profileRating__profile p {
  color: #FF6060;
  width: 70px;
}
.profileRating__profile img {
  width: 64px;
  border-radius: 100px;
}

.collapse {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.collapse__apropos {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 30px;
}
.collapse__main {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.collapse__main-element {
  background-color: #F6F6F6;
  color: #FF6060;
  border-radius: 10px;
  margin-top: -15px;
  z-index: 1;
}
.collapse__main-element p {
  padding: 10px;
  padding-top: 30px;
  line-height: 1.5em;
}
.collapse__main-element li {
  list-style: none;
}
.collapse__main-button {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #FF6060;
  border-radius: 10px;
  z-index: 3;
}
.collapse__main-button p {
  color: #FFFFFF;
}
.collapse__main-button img {
  cursor: pointer;
  object-fit: contain;
}

.erreur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FF6060;
}
.erreur h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 200px;
}
.erreur p {
  font-weight: 500;
  margin-bottom: 100px;
}
.erreur a {
  color: #FF6060;
  margin-bottom: 100px;
}

.apropos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 425px) {
  .main {
    margin-right: 10px;
    margin-left: 10px;
  }
  header nav a {
    font-size: 15px;
    margin-left: 20px;
  }
  header img {
    width: 100px;
  }
  .layout {
    background-color: transparent;
  }
  .layout__card {
    width: 100%;
    margin-bottom: 20px;
  }
  .layout__padding {
    display: block;
    padding: 0;
  }
  .carousel__pictures {
    border-radius: 10px;
  }
  .carousel__arrow-Right {
    width: 20px;
  }
  .carousel__arrow-Left {
    width: 20px;
  }
  .container-title-profile-tags-rating {
    flex-direction: column;
  }
  .titreTags {
    flex-direction: column;
  }
  .profileRating {
    flex-direction: row-reverse;
  }
  .collapse {
    flex-direction: column;
    row-gap: 20px;
  }
  .collapse__main {
    width: 100%;
  }
  .collapse__apropos {
    width: 100%;
  }
  .erreur h1 {
    margin-top: 150px;
    font-size: 100px;
  }
  .erreur p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 150px;
  }
  .erreur a {
    margin-bottom: 150px;
  }
}

/*# sourceMappingURL=index.css.map */
