*{
    padding: 0;
    margin: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Montserrat', sans-serif;
}

.main{
   
    margin-right:100px;
    margin-left:100px;
}

header{
    display: flex;
    justify-content:space-between;
    padding-top:20px;
    
    img{
        width: 150px;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        a{
            text-decoration: none;
            color: #FF6060;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            margin-left: 30px;                        
        }
    }
    
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:209px;

    background-color: black;
    img{
        width: 122px;
        height: 39.44px;
    }
    p{
        color: #FFFFFF;
    }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;
    margin-top: 50px;
    margin-bottom: 31px;
    border-radius: 25px;
    overflow: hidden;
  

    img {
      position: relative;
      width: 100%;
      height: 100%;
      filter:brightness(0.7);
      object-fit: none;
    }
  
    p {
      position: absolute;
      font-size: 30px;
      font-weight: 500;
      color: #FFFFFF;
    }
}

.layout{
    display: flex;
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 25px;

    &__padding{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        padding:5%;
        row-gap: 35px;
        column-gap: 35px;
    }

    &__card{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        width: 250px;
        height: 250px;
        border-radius:10px;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background:linear-gradient( rgba(255,255,255,0) 10%,#000000 500%);
            z-index: 2;
        }

        & img{
            z-index: 1;
            position:relative;
            width: 100%;      
            height: 100%;    
            object-fit: cover;
            // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3))        
        }

        & p{
            z-index: 3;
            position:absolute;
            width: 10%;
            padding: 10px;
            color: #FFFFFF;

        }
    }
}

.carousel{
    display: flex;
    position: relative;
    width: 100%;
    height: 250px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 25px;
    overflow: hidden;

    &__pictures{
        position: relative;
        width:100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    &__arrow-Left{
        position: absolute;
        left:20px;   
        z-index: 3;
        align-self: center;
    }
    
    &__arrow-Right{
        position: absolute;
        right:20px;
        z-index: 3;  
        align-self: center;
    }
}



.collapse__button{
    background-color: black;
}

